# System Files
.DS_Store
Thumbs.db
*.log

# IDEs
.vscode/
.idea/
*.iml

# Node.js (Server / React / React Native)
node_modules/
npm-debug.log
yarn-error.log
.env

# Expo (React Native)
/react-native-client/.expo/
/react-native-client/web-build/

# Database (SQLite)
/server/leon.db
