:root {
  --primary: #646cff;
  --bg-dark: #242424;
  --text-light: rgba(255, 255, 255, 0.87);
  --error: #ef4444;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  min-height: 100vh;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
